.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Button{
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: auto;
  text-align: center;
  background-color: maroon;
  padding: 20px;
  margin: 20px;
  color: whitesmoke;
}
.header{
  color: whitesmoke;
  background-color: black;
  height: 80px;
  padding: 20px;
  line-height: 50px;
}
.footer{
  color: whitesmoke;
  background-color: black;
  height: 30px;
  padding: 20px;
}